.appMain{
  display: grid;
  /* height: 43.06rem; */
  grid-template-columns: 15rem 11rem 19rem 25rem 15rem;
  grid-gap: 40px;
  padding-top: .9rem;
}

.col1{
  grid-column: 2;
  display: grid;
  grid-template-rows: 11rem 17rem 11rem;
  grid-gap: 20px;
}

.col2{
  display: grid;
  grid-template-rows: 6rem 12rem 11rem;
  grid-gap: 20px;
}

.col3{
  display: grid;
  grid-template-rows: 8rem 17rem 11rem;
  grid-gap: 20px;
  
}

.col2TH{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
}

.col3TH{
  display: grid;
  grid-template-columns: repeat(2,12.5rem);
  grid-gap: 10px;
}